.contact__content.u-center-xy 
   ul.contact__list
      li.contact__list-item Contact
      li.contact__list-item NY
      li.contact__list-item 1039 Stanley Avenue
      li.contact__list-item Open Daily
      li.contact__list-item By appointment only 
   +imgRespons('contact__img ', 'Wine bottles', 'png', ['footer-img-xs', '320w'], ['footer-img', '640w', '34vw', '51vw', '600px'])
   ul.contact__list
      li.contact__list-item Connect
      li.contact__list-item PN: 512-665-5579
      li.contact__list-item MN: 249-632-5478
      li.contact__list-item example@winehouse.com
      li.contact__list-item Join our mailing list
p.copyright Copy &copy; Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aspernatur?
