.wine__bg.u-center-xy
.wine__content.u-center-xy
   h2.heading--2.wine__heading newly released wines 
   +imgRespons('wine__img', 'Wine bottles', 'jpg', ['section-4-bg-md', '960w'], ['section-4-bg', '1920w', '51vw', '68vw', '700px'])