extends ../templates/template
block home 
   .container  
      .wrapper
         header.section-wrapper.header
            include ../blocks/header
         section.section-wrapper.vineyards
            include ../blocks/vineyards
         section.section-wrapper.grapes
            include ../blocks/grapes
         section.section-wrapper.wine
            include ../blocks/wine
         section.section-wrapper.contact
            include ../blocks/contact